<a href="https://colab.research.google.com/github/Marquezbertin/Analise-de-Dados/blob/main/analise_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python in data analysis/Python em analise da dados

In this example we will analyze a cross-country population dataset.
We will use the Gapminder.CSV dataset (available in this repository)

Neste exemplo analisaremos um conjunto de dados populacional entre paises.
Utilizaremos o conjunto de dados Gapminder.CSV (disponivel neste repositório)

## Mapping the data set / Mapeando o conjunto de dados

To map the dataset to Google Colab, you need to first upload your dataset to the Google Colab environment. You can then map the directory where the data was stored using a google.cola library and the drive module to access Google Drive. Follow the steps below:

Para mapear o dataset no Google Colab, você precisa primeiro fazer o upload do seu conjunto de dados para o ambiente do Google Colab. Em seguida, você pode mapear o diretório onde os dados foram armazenados usando uma biblioteca google.colabe o módulo drivepara acessar o Google Drive. Siga os passos abaixo:

Step 1: Upload the Dataset Upload your dataset file to Google Colab. You can do this by clicking on the "Upload" icon in the left sidebar or using the following code:

Passo 1: Upload do Dataset Faça o upload do seu arquivo de conjunto de dados para o Google Colab. Você pode fazer isso clicando no ícone "Upload" na barra lateral esquerda ou usando o seguinte código:

from google.colab import files

uploaded = files.upload()

A window will appear for you to select and upload the dataset file from your computer to the Google Colab environment.

Step 2: Mount Google Drive The next step is to mount Google Drive so you can access the files you envy. Run the following code:

Uma janela aparecerá para você selecionar e fazer o upload do arquivo do conjunto de dados do seu computador para o ambiente do Google Colab.

Passo 2: Montar o Google Drive O próximo passo é montar o Google Drive para que você possa acessar os arquivos que você inveja. Execute o seguinte código:

from google.colab import drive

drive.mount('/content/drive')

This code requests your permission to access Google Drive. Click on the given link, give the required permission and copy the authorization code. Paste the code into the Google Colab text box and press Enter.

Step 3: Access the Dataset Now that Google Drive is mounted, you can access the files that Colab envy. For example, if you envy a file called "dataset.csv", which is in the "My Drive/datasets" folder, you can access it using the following path:

Este código solicita sua permissão para acessar o Google Drive. Clique no link fornecido, dê a permissão necessária e copie o código de autorização. Cole o código na caixa de texto do Google Colab e pressione Enter.

Passo 3: Acessar o Dataset Agora que o Google Drive está montado, você pode acessar os arquivos que invejam para o Colab. Por exemplo, se você inveja um arquivo chamado "dataset.csv", que está na pasta "Meu Drive/datasets", você pode acessá-lo usando o seguinte caminho:

import pandas as pd

Supondo que o arquivo dataset.csv está dentro da pasta "Meu Drive/datasets"
file_path = "/content/drive/My Drive/datasets/dataset.csv"

Carregar o dataset usando o pandas ou a biblioteca de sua escolha
df = pd.read_csv(file_path)

Now the dataset has been mapped and is ready to be used in your Google Colab notebook.

Keep in mind that if you disconnect from Google Colab and reconnect later, you will need to mount Google Drive again to access the files. Google Drive mapping is temporary and needs to be done in each Colab session.

Agora o conjunto de dados foi mapeado e está pronto para ser usado em seu notebook do Google Colab.

Lembre-se de que, se você desconectar do Google Colab e reconectar posteriormente, precisará montar novamente o Google Drive para acessar os arquivos. O mapeamento do Google Drive é temporário e precisa ser feito em cada sessão do Colab.

## Hands-on/Mãos na massa

In [6]:
# importing the pandas library/importando bibloteca Pandas
import pandas as pd

In [ ]:
# Import dataset and ignore errors if there are any in the file t also formats the correct display of columns and rows (;)
# Importar conjunto de dados e ignorar erros se houver algum no arquivo t também formata a exibição correta de colunas e linhas (;)
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [9]:
# Viewing the first 50 lines
# Visualizando as primeiras 50 linhas
df.head(50)

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735
20      Albania    Europe  1992   71.581   3326498  2497.437901
21      Albania    Europe  1997   72.950   3428038  3193.054604
22      Albania    Europe  2002   75.651   3508512  4604.211737
23      Albania    Europe  2007   76.423   3600523  5937.029526
24      Algeria    Africa  1952   43.077   9279525  2449.008185
25      Algeria    Africa  1957   45.685  10270856  3013.976023
26      Algeria    Africa  1962   48.303  11000948  2550.816880
27      Algeria    Africa  1967   51.407  12760499  3246.991771
28      Algeria    Africa  1972   54.518  14760787  4182.663766
29      Algeria    Africa  1977   58.014  17152804  4910.416756
30      Algeria    Africa  1982   61.368  20033753  5745.160213
31      Algeria    Africa  1987   65.799  23254956  5681.358539
32      Algeria    Africa  1992   67.744  26298373  5023.216647
33      Algeria    Africa  1997   69.152  29072015  4797.295051
34      Algeria    Africa  2002   70.994  31287142  5288.040382
35      Algeria    Africa  2007   72.301  33333216  6223.367465
36       Angola    Africa  1952   30.015   4232095  3520.610273
37       Angola    Africa  1957   31.999   4561361  3827.940465
38       Angola    Africa  1962   34.000   4826015  4269.276742
39       Angola    Africa  1967   35.985   5247469  5522.776375
40       Angola    Africa  1972   37.928   5894858  5473.288005
41       Angola    Africa  1977   39.483   6162675  3008.647355
42       Angola    Africa  1982   39.942   7016384  2756.953672
43       Angola    Africa  1987   39.906   7874230  2430.208311
44       Angola    Africa  1992   40.647   8735988  2627.845685
45       Angola    Africa  1997   40.963   9875024  2277.140884
46       Angola    Africa  2002   41.003  10866106  2773.287312
47       Angola    Africa  2007   42.731  12420476  4797.231267
48    Argentina  Americas  1952   62.485  17876956  5911.315053
49    Argentina  Americas  1957   64.399  19610538  6856.856212

In [10]:
# Renames column headings
# Renomeia os cabeçalhos das colunas
df = df.rename(columns={"country" : "Pais", "continent" : "Continente", "year" : "Ano", "lifeExp" : "Expectativa de Vida","pop" : "Pop Total", "gdpPercap" : "PIB"})

In [11]:
# Displays the first 50 rows of the dataset
# Exibe as primeiras 50 linhas do conjunto de dados
df.head(50)

           Pais Continente   Ano  Expectativa de Vida  Pop Total          PIB
0   Afghanistan       Asia  1952               28.801    8425333   779.445314
1   Afghanistan       Asia  1957               30.332    9240934   820.853030
2   Afghanistan       Asia  1962               31.997   10267083   853.100710
3   Afghanistan       Asia  1967               34.020   11537966   836.197138
4   Afghanistan       Asia  1972               36.088   13079460   739.981106
5   Afghanistan       Asia  1977               38.438   14880372   786.113360
6   Afghanistan       Asia  1982               39.854   12881816   978.011439
7   Afghanistan       Asia  1987               40.822   13867957   852.395945
8   Afghanistan       Asia  1992               41.674   16317921   649.341395
9   Afghanistan       Asia  1997               41.763   22227415   635.341351
10  Afghanistan       Asia  2002               42.129   25268405   726.734055
11  Afghanistan       Asia  2007               43.828   31889923   974.580338
12      Albania     Europe  1952               55.230    1282697  1601.056136
13      Albania     Europe  1957               59.280    1476505  1942.284244
14      Albania     Europe  1962               64.820    1728137  2312.888958
15      Albania     Europe  1967               66.220    1984060  2760.196931
16      Albania     Europe  1972               67.690    2263554  3313.422188
17      Albania     Europe  1977               68.930    2509048  3533.003910
18      Albania     Europe  1982               70.420    2780097  3630.880722
19      Albania     Europe  1987               72.000    3075321  3738.932735
20      Albania     Europe  1992               71.581    3326498  2497.437901
21      Albania     Europe  1997               72.950    3428038  3193.054604
22      Albania     Europe  2002               75.651    3508512  4604.211737
23      Albania     Europe  2007               76.423    3600523  5937.029526
24      Algeria     Africa  1952               43.077    9279525  2449.008185
25      Algeria     Africa  1957               45.685   10270856  3013.976023
26      Algeria     Africa  1962               48.303   11000948  2550.816880
27      Algeria     Africa  1967               51.407   12760499  3246.991771
28      Algeria     Africa  1972               54.518   14760787  4182.663766
29      Algeria     Africa  1977               58.014   17152804  4910.416756
30      Algeria     Africa  1982               61.368   20033753  5745.160213
31      Algeria     Africa  1987               65.799   23254956  5681.358539
32      Algeria     Africa  1992               67.744   26298373  5023.216647
33      Algeria     Africa  1997               69.152   29072015  4797.295051
34      Algeria     Africa  2002               70.994   31287142  5288.040382
35      Algeria     Africa  2007               72.301   33333216  6223.367465
36       Angola     Africa  1952               30.015    4232095  3520.610273
37       Angola     Africa  1957               31.999    4561361  3827.940465
38       Angola     Africa  1962               34.000    4826015  4269.276742
39       Angola     Africa  1967               35.985    5247469  5522.776375
40       Angola     Africa  1972               37.928    5894858  5473.288005
41       Angola     Africa  1977               39.483    6162675  3008.647355
42       Angola     Africa  1982               39.942    7016384  2756.953672
43       Angola     Africa  1987               39.906    7874230  2430.208311
44       Angola     Africa  1992               40.647    8735988  2627.845685
45       Angola     Africa  1997               40.963    9875024  2277.140884
46       Angola     Africa  2002               41.003   10866106  2773.287312
47       Angola     Africa  2007               42.731   12420476  4797.231267
48    Argentina   Americas  1952               62.485   17876956  5911.315053
49    Argentina   Americas  1957               64.399   19610538  6856.856212

In [12]:
# Number of columns and rows in the dataset
# Número de colunas e linhas no conjunto de dados
df.shape

(3312, 6)

In [13]:
# What are the columns of this dataset
# Quais são as colunas deste conjunto de dados
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de Vida', 'Pop Total', 'PIB'], dtype='object')

In [14]:
# What are the data types of the dataset
# Quais são os tipos de dados do conjunto de dados
df.dtypes

Pais                    object
Continente              object
Ano                      int64
Expectativa de Vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [15]:
#View the last rows of the dataset
#Ver as últimas linhas do dataset
df.tail(30)

,Pais,Continente,Ano,Expectativa de Vida,Pop Total,PIB
3282,"Yemen, Rep.",Asia,1982,49.113,9657618,1977.557010
3283,"Yemen, Rep.",Asia,1987,52.922,11219340,1971.741538
3284,"Yemen, Rep.",Asia,1992,55.599,13367997,1879.496673
3285,"Yemen, Rep.",Asia,1997,58.020,15826497,2117.484526
3286,"Yemen, Rep.",Asia,2002,60.308,18701257,2234.820827
3287,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906
3288,Zambia,Africa,1952,42.038,2672000,1147.388831
3289,Zambia,Africa,1957,44.077,3016000,1311.956766
3290,Zambia,Africa,1962,46.023,3421000,1452.725766
3291,Zambia,Africa,1967,47.768,3900000,1777.077318
3292,Zambia,Africa,1972,50.107,4506497,1773.498265
3293,Zambia,Africa,1977,51.386,5216550,1588.688299
3294,Zambia,Africa,1982,51.821,6100407,1408.678565
3295,Zambia,Africa,1987,50.821,7272406,1213.315116
3296,Zambia,Africa,1992,46.100,8381163,1210.884633
3297,Zambia,Africa,1997,40.238,9417789,1071.353818
3298,Zambia,Africa,2002,39.193,10595811,1071.613938
3299,Zambia,Africa,2007,42.384,11746035,1271.211593
3300,Zimbabwe,Africa,1952,48.451,3080907,406.884115
3301,Zimbabwe,Africa,1957,50.469,3646340,518.764268
3302,Zimbabwe,Africa,1962,52.358,4277736,527.272182
3303,Zimbabwe,Africa,1967,53.995,4995432,569.795071
3304,Zimbabwe,Africa,1972,55.635,5861135,799.362176
3305,Zimbabwe,Africa,1977,57.674,6642107,685.587682
3306,Zimbabwe,Africa,1982,60.363,7636524,788.855041
3307,Zimbabwe,Africa,1987,62.351,9216418,706.157306
3308,Zimbabwe,Africa,1992,60.377,10704340,693.420786
3309,Zimbabwe,Africa,1997,46.809,11404948,792.449960
3310,Zimbabwe,Africa,2002,39.989,11926563,672.038623
3311,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [16]:
# Describe returns statistical data from the dataset.
# Descrever retorna dados estatísticos do conjunto de dados.
df.describe()

               Ano  Expectativa de Vida     Pop Total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900