<a href="https://colab.research.google.com/github/Marquezbertin/Analise-de-Dados/blob/main/analise_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python in data analysis.

In [44]:
# importing the pandas library
import pandas as pd

In [ ]:
# Import dataset and ignore errors if there are any in the file t also formats the correct display of columns and rows (;)
df = pd.read_csv("/content/Gapminder.csv", error_bad_lines=False, sep=";")

In [47]:
# Viewing the first 5 lines
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [ ]:
# Renames (translates) column headings
df = df.rename(columns={"country" : "Pais", "continent" : "Continente", "year" : "Ano", "lifeExp" : "Expectativa de Vida","pop" : "Pop Total", "gdpPercap" : "PIB"})

In [ ]:
# Displays the first 10 rows of the dataset
df.head(10)

In [ ]:
# Number of columns and rows in the dataset
df.shape

In [ ]:
# What are the columns of this dataset
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de Vida', 'Pop Total', 'PIB'], dtype='object')

In [ ]:
# What are the data types of the dataset
df.dtypes

In [ ]:
#View the last rows of the dataset
df.tail()

In [ ]:
# Describe returns statistical data from the dataset.
df.describe()